
body{
background-image: linear-gradient(to bottom right,#00F490,#00BBC9);
font-family: 'Open Sans', sans-serif;
font-weight: 300;

}

h1{
 font-family: 'Gabriela', serif;

}
.jumbotron{
background-color: rgba(216, 191, 216, 0);
}
