
/* Global/Desktop View */
.container{
    background-color: thistle;
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
}

/* Tablet View */
@media (max-width: 768px ){
  
 }
 /* Mobile View */
@media (max-width: 400px ){

}