 /* Desktop/global view */

 .main-container{
   background-color: teal;
   display:flex ;
   margin: 0 auto ;
 }
 .col


 /* tablet view */

 @media(max-width : 768px){

 }
 /* mobile */

 @media(max-width : 400px){

 }