 /* Desktop/global view */

 body {
      font-family: 'Asap', sans-serif;
      color: white;
      background-color: #EBEBEB;
    }

a {
  color: rgb(224, 36, 184);
  text-decoration: none;
}
 .main-container{
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
  
 }
 .header-container{
   background-color: rgb(43, 241, 198);
   min-height: 50px;
   position: fixed;
   width: 100%;
   margin : 0 auto;
   padding: 20px 25px;
   display: flex;
   

 }

 .logo p span{
   font-weight: 900;
 }
.nav ul{

}
 .nav li{
  border: 2px;
  border-color: rgb(27, 2, 32);
 }
 .col{

   min-height: 200px;
   width:30% ;
  margin-bottom: 40px;
   background-color: rgb(27, 2, 32);
}

.col p {
  font-size: 0.825rem;
  padding: 20px 25px;
  line-height: 1.25rem;
}  

.hide-desktop-only {
  display: none;
}

.col img {
  width: 100%;
  height: auto;
} 

.col p::first-line {
  font-weight: 700;
  
}


 /* Tablet view */

 @media(max-width : 768px){
  .col{
    width: 45%;
  }

 }
 /* Mobile View */

 @media(max-width : 400px){
  
  .col {
    width: 100%;
}

.hide-mobile {
    display: none;
 }
}