html{
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2d002a+19,8e3373+45,8e3373+48,8e3373+60,260023+92,260023+92 */
background: rgb(45,0,42); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(45,0,42,1) 19%, rgba(142,51,115,1) 45%, rgba(142,51,115,1) 48%, rgba(142,51,115,1) 60%, rgba(38,0,35,1) 92%, rgba(38,0,35,1) 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(45,0,42,1) 19%,rgba(142,51,115,1) 45%,rgba(142,51,115,1) 48%,rgba(142,51,115,1) 60%,rgba(38,0,35,1) 92%,rgba(38,0,35,1) 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(45,0,42,1) 19%,rgba(142,51,115,1) 45%,rgba(142,51,115,1) 48%,rgba(142,51,115,1) 60%,rgba(38,0,35,1) 92%,rgba(38,0,35,1) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d002a', endColorstr='#260023',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body{
    background-image: url(images/image-lion-background.png);
    background-position: top center ;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    

}
a{ 
    color: rgb(180, 128, 209);
    text-decoration: none;
}

.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

header{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2.5px solid rgb(45,0,42);
   
}

main{
    min-height: 300px;
    display:flex; 
    align-items: center;
}
.cards {
    display:flex; 
    justify-content: space-between;
    text-align: center;
 
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 2px 2px 2px rgba(241, 155, 219, 0.637);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 2px 2px 2px rgba(241, 155, 219, 0.637);
}
.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 2px 2px 2px rgba(241, 155, 219, 0.637);
}
.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
   box-sizing: border-box;
   border-radius: 10px;
}
.herobox1{
    flex: 2;
    margin-right: 100px;

}
.herobox2{  
    flex: 1;
   
}
.herobox2 img{
    border-radius: 15px;
 }
 
.logo{
   flex: 1;
   /* align-self: flex-end;
 */
}
h1{
    font-size: 3.25rem;
    font-weight: bolder;
    color: rgb(45,0,42);
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgb(129, 22, 97 );

}
h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
  
}
p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}
.cards p{
    font-size: 0.95rem;
    line-height: 1.2rem;
    margin-top: 10px;
}
.cards i{
    font-size: 100px;
    color: rgb(163, 130, 163);
    
   
}

 .cards a:hover, a:active {
  color: white;
 }

 a.mybutton{
     background-color: rgb(236, 219, 236);
     text-decoration: none;
     padding: 11px 25px;
     font-size: 1.5rem;
     font-family: 'Playfair Display', serif;
     font-weight: bold;
     display: inline-block;
     margin-top: 10px;
     border-radius: 25px ;
     box-shadow: 0px 2px 2px rgba(241, 155, 219, 0.637);
    }
.mybutton:hover{
    background-color: rgb(54, 13, 54);
    transition-duration: 1s;

}
 .navbutton{
        background-color:none ;
        text-decoration: none;
        padding: 11px 25px;
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 50px;
        border: 2px solid rgb(137, 76, 170);
        /*border-style:solid;
          border-color:rgb(180, 128, 209);
          border-width: 2px;
        */
       color: white;
       border-radius: 8px ;
       font-family: 'Playfair Display', serif;
       position: relative;

 }
 /* This stops the drop doen from being displayed  */
.dropdown{
    display: none;
    position: absolute;
    z-index: 1px;
    padding-top: 20px;
    margin-left: -70px;
    margin-bottom: 30px;
 

    
}
/* this displays the drop when hovering */
.navbutton:hover .dropdown{
    display: block;
    
    
}
 .dropdown .navbutton  {
   background-color:rgba(241, 155, 219, 0.237);
   color: white;
    width: 200px;
   /*padding: 5px 20px; */



   }

.dropdown .navbutton:hover {
    background-color: rgba(38,0,35,1);
    transition-duration: 500ms;

}

 .testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
 }
 .tbox{
     width:47%;
     padding:50px;
     border: 2px solid rgb(180,128,209);
     box-sizing: border-box;
     margin-top: 50px;
 }
 
 /* .tbox :last-child{
     font: 8rem;
     padding-left: 30px ;
     color: rgb(180,128,209);
 } */
 
 .tbox p:last-of-type{
    font: 8rem;
    padding-left: 30px ;
    color: rgb(180,128,209);
 }
